@using KitapAlimSatim.Data.Entities
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HomePage"].Value;
}
@section Search
{
    <partial name="_SearchPanel" />
}
<div class="homepage-books">
    @foreach (Book item in (List<Book>)ViewData["kitaplar"])
    {
        <div class="book-item">
            <div class="book-item-div">
                <a href="~/Product/@item.Id">
                    <center>@item.Name</center>
                    <img src="~/media/image/@item.FileName" />
                </a>
            </div>
        </div>
    }
</div>
